body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.product-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.product-info h1 {
    font-size: 24px;
    color: #333;
}

.product-info p {
    font-size: 16px;
    color: #000000;
    margin-bottom: 20px;
}

.saiba-mais-btn {
    display: inline-block;
    background-color: #43b80e;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.saiba-mais-btn:hover {
    background-color: #248121;
}

/* Estilo para o botão voltar */

.back{
    padding: 10px;
    border: none;
    background-color: #3498db;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
    font-size: 16px;
    margin-left: 10px;
}

.back:hover {
    background-color: #2980b9;
}


/* Adicione esta seção ao seu arquivo styles.css */

.image-slider {
    display: flex;
    overflow: hidden;
}

.image-slider img {
    display: none;
    width: 100%;
    height: auto;
}

.navigation {
    margin-top: 10px;
}

.prev-btn,
.next-btn {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: #2980b9;
}
